
body {
  background-color: darkslategrey;
  line-height: 1.5em;
  font-size: 1em;
  font-family: Merriweather, serif;

}

#main-header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: teal;
  font-family: Merriweather, serif;

}

h1 {
  display: block;
  text-align: center;
  font-family: Merriweather, serif;
  font-weight: bold;
  color: white;
  font-size: 2em;
  margin: 10px;
}

h2 {
  display: block;
  text-align: center;
  font-family: Merriweather, serif;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
}

ol {
  display: inline-block;
  list-style-type: decimal;
  text-align: left;
  color: white;
  font-family: Merriweather, serif;
}

ol li {
  font-weight: bold;
  list-style-type: decimal;
  font-family: Merriweather, serif;
  font-size: 0.9em;
  font-weight: lighter;
  padding: 5px;
}

ul {
  display: inline-block;
  text-align: center;
  color: white;
  font-family: Merriweather, serif;
  font-size: 1em;
  font-weight: normal;
}

ul li {
  font-weight: bold;
  font-family: Merriweather, serif;
  font-size: 1em;
  padding: 2px;
  font-weight: normal;
}

#about-me {
  display: block;
  text-align: center;
  font-family: Merriweather, serif;
  font-weight: bold;
  color: white;
  font-size: 1.75em;
  margin-top: 60px;
}

#bio-photo {
  background-color: white;
  display: block;
  padding: 5px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  height: auto;
  border-style: ridge;
  border-width: 2px;
  border-color: black;
}

p {
  display: block;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 1.1em;
  color: white;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

footer {
  font-weight: bold;
  margin: 10px;
  font-size: 1em;
}

footer p {
  font-weight: bold;
  margin: 10px;
  text-align: center;
  width: auto;
  font-size: 1.1em;  
}

a {
  color: lightskyblue;
}

a:visited {
  color: lightskyblue;
}